@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 20px 0;
  background-color: #f7fafc;
}

.containerText {
  width: 80%;
  height: auto;
  text-align: center;
}

.containerText h1{
  color: #4faca6;
}

.containerAccordion {
  padding-top: 10px;
  width: 50vw;
}

.head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: #333;
  border-radius: 5px;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
  margin: 5px 0 0;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;
}

.head span {
  padding-right: 10px;
}

.head:hover,
.active {
  transform: scale(1.02);
  border-bottom: 1px solid #4faca6;
  color: #4faca6;
}

.body {
  width: 100%;
  color: rgb(232, 159, 113, 70%);
  padding: 5px 20px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 40vh;
    padding-top: 0;
  }
  .body {
    padding: 0px 10px;
  }
  .containerText h1 {
    font-size: 20px;
    margin-top: 0;
  }
  .containerText p {
    font-size: 10px;
  }
  .containerAccordion {
    padding-top: 5px;
    width: 80vw;
  }
  .text p{
    font-size: 10px;
  }

  .head {
    height: 15px;
    font-size: 10px;
  }
}
